#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;
}

p{
	font-size: 25px;
	margin-top: -20px; 
}
.menu{
	width: 500px;
	height: 50px;
	border: 5px solid #ccc;
	float: right;
	margin-top: 1px;
	margin-bottom: 30px;
	background: #006699;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #006699;
	transition: background 1s, color 1s;
}